@model IEnumerable<Bd2Domain.Model.Author>

@{
    ViewData["Title"] = "Автори з відповідними тематиками";
}

<div class="text-center">
    <h1 class="display-4">Автори, що писали по тих тематиках, що й автор з прізвищем @ViewBag.AuthorLastName</h1>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-warning">@ViewBag.Message</div>
    }
    else if (Model != null && Model.Any())
    {
        <h2>Знайдені автори:</h2>
        <ul class="list-group">
            @foreach (var author in Model)
            {
                <li class="list-group-item">
                    <strong>Id:</strong> @author.Id <br />
                    <strong>Прізвище:</strong> @author.LastName <br />
                    <strong>Ім'я:</strong> @author.FirstName <br />
                    <strong>Email:</strong> @author.Email <br />
             
                </li>
            }
        </ul>
    }
    else
    {
        <div class="alert alert-warning">Немає авторів, що відповідають вказаним критеріям.</div>
    }
</div>
